@import '~handsontable/dist/handsontable.full.css';

.handsontable tr:first-child span {
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -.5em;
    padding-bottom: 5px;
    white-space: nowrap;
}