@import '~handsontable/dist/handsontable.full.css';

.handsontable tr:first-child span {
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -.5em;
    padding-bottom: 5px;
    white-space: nowrap;
}

/*.chart {*/
/*    position: relative;*/
/*    height: 70px !important;*/
/*    !*width: 60px !important;*!*/
/*    height: 94px !important;*/
/*    width: 192px !important;*/
/*    !*overflow: hidden;*!*/
/*}*/

/*.chart canvas {*/
/*    max-height: 100% !important;*/
/*    max-width: 100% !important;*/
/*}*/