@import '~handsontable/dist/handsontable.full.css';

#hot-container {
    overflow: hidden;
    width: 100%;
}

.handsontable tr:first-child span {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    white-space: nowrap;
}

.htBottom {
    padding: 15px 0 !important
}

.btn {
    border-width: 0;
}

#hot td {
    white-space: nowrap
}

.htCore {
    border-width: 3px !important
}

.handsontable td.htInvalid {
    background-color: hotpink !important
}

.chart {
    position: relative;
    /*height: 70px !important;*/
    /*width: 60px !important;*/
    /*height: 94px !important;*/
    /*width: 192px !important;*/
    overflow: hidden;
}

/*.highcharts-container  {*/
/*    max-height: 100% !important;*/
/*    max-width: 100% !important;*/
/*}*/