@import '~handsontable/dist/handsontable.full.css';

#hot {
    width: 100% !important;
    margin-bottom: 64px;
}

.handsontable tr:first-child td span {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    white-space: nowrap;
}

.htBottom {
    padding: 15px 0 !important
}

.btn {
    border-width: 0;
}

#hot td {
    white-space: nowrap
}

.htCore {
    border-width: 3px !important
}

.handsontable td.htInvalid {
    background-color: hotpink !important
}
