@import '~handsontable/dist/handsontable.full.css';

.handsontable tr:first-child span {
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -.5em;
    padding-bottom: 5px;
    white-space: nowrap;
}

.btn {
    border-width: 0;
}

.btn-success {
    background-color: #a9d08f;
}

.btn-warning {
    background-color: #ffe69a;
}

.btn-danger {
    background-color: #f4b085;
}

#hot {
    margin: 10px 0;
}

.htCore {
    border-width: 3px !important
}

/*.Matrix {*/
/*    position: relative;*/
/*    height: 70px !important;*/
/*    !*width: 60px !important;*!*/
/*    height: 94px !important;*/
/*    width: 192px !important;*/
/*    !*overflow: hidden;*!*/
/*}*/

/*.Matrix canvas {*/
/*    max-height: 100% !important;*/
/*    max-width: 100% !important;*/
/*}*/